test/
.settings/**
*.map
*.gz
*.tar
*.tgz
*.zip
*.bz2
*.o
*.a
*.bak
*.old
.php_errors.log
*~
*.*~
.buildpath
.project
*.orig.php
grp
data/*.atom
data/*.html
GithubHtmlDownloader.php
GithubReleaseParser.php
